<!DOCTYPE html>
<html>
<head>
    <title>微淘</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)"/>
    <link href="http://a.tbcdn.cn/mw/webapp/allspark/wetaoIcon.png" rel="apple-touch-icon-precomposed"/>
    <link href="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/css/detailall.css" rel="stylesheet" type="text/css">
    <!--<link href="build/css/detailall.css" rel="stylesheet" type="text/css">-->
</head>

<body style="background: #f8f8f8">
<div id="content">
    <div class="tb-h5">
        <div id="detailPage" class="view-page detail">
            <div class="account"></div>
            <div class="main"></div>
        </div>
    </div>
</div>
<script id="detail_accinfo_tpl" type="text/template">
    <a href="we/index.htm#account/<%=id %>" snsid="<%=id %>" class="log" data-log="detailAccount">
        <% if(typeof logoUrl!='undefined'&&logoUrl!==''){ %>
        <img src="<%=logoUrl +(weTao.isRetina()?'_64x64.jpg':'_32x32.jpg') %>"/>
        <% }else{%>
           <div class="default"></div>
        <% } %>
        <div>
            <h2><%= nick %></h2>
            <% if(noHelper(accountType)){ %>
            <% if (fansCount == 0) { %>
            <span>还没有人关注</span>
            <% } else{ %>
            <span><%=formatFans(fansCount) %>关注者</span>
            <% } %>
            <% } %>
        </div>
    </a>

</script>
<script id="detail_plugin"  type="text/template">
    <h1><%= title %> </h1>
    <div class="favbtn <% if(isLiked =='1'){%> faved <% } %> log" data-log="<% if(isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
    <% if (time) { %>
    <p class="detail-info">
        <span class="icon-clock pub-time"><%= timestamps(time) %></span>
    </p>
    <% } %>
    <ul>
        <% for (var i = 0; i < tiles.length; i++) { %>
        <li>
            <a style="display: block" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item"
               data-id="<%= tiles[i].item.id %>">
                <img class="lazy" dataimg="<%= getBetterImg(tiles[i].path, 180, parseInt(tiles[i].picWidth),true) %>">
                <h4><%=tiles[i].text%></h4>
                <p id="price<%=tiles[i].item.id%>"></p>
            </a>
        </li>
        <% if((i+1)%2==0){ %>
    </ul><ul>
    <% }%>
    <% }  %>

</ul>
</script>
<script id="detail_content_tpl" type="text/template">
    <h1><%= title %> </h1>
    <div class="favbtn <% if(isLiked =='1'){%> faved <% } %> log" data-log="<% if(isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
    <% if (time) { %>
    <p class="detail-info">
        <span class="icon-clock pub-time"><%= timestamps(time) %></span>

    </p>
    <% } %>
    <% for (var i = 0; i < tiles.length; i++) { %>
    <% if (tiles[i].type == "pic") { %>
    <div class="media"><img class="lazy"
        <%if(Env.isDesktop){%>
        dataimg="<%=getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
        <% }else{%>
        dataimg="<%=getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
        style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
        <% } %>

        src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
    </div>
    <% } else if (tiles[i].type == "text") { %>

    <p class="text"><%= tiles[i].text.replace(/(\n)+/g, '<span style="height:5px;display:block"></span>') %></p>

    <% } else if (tiles[i].type == "picItem") { %>
    <div class="media">
        <a style="display: block" id="price<%= tiles[i].item.id %" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item"
           data-id="<%= tiles[i].item.id %>">
            <img class="lazy"
            <%if(Env.isDesktop){%>
            dataimg="<%= getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
            <% }else{ %>
            dataimg="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
            style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
            <% } %>
            src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">

            <div class="price" style="display: none;"></div>
        </a>
    </div>
    <% } %>
    <% } %>
    <% if (linkUrl) { %>
    <a href="<%= linkUrl %>" class="more-content log" data-log="linkUrl">
        <span class="link-icon"></span>
        <span class="link-title"><%= linkTitle || '更多内容' %></span></a>
    <% } %>
</script>
<!--<script src="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/js/zepto.min.js"></script>-->
<!--<script src="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/js/underscore-min.js"></script>-->
<!--<script src="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/js/mtop_1.0.0dev.js"></script>-->
<!--<script src="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/js/lazyload.js"></script>-->
<script src="http://g.assets.daily.taobao.net/mw/wetao/0.0.6/js/detailall.js"></script>
<!--<script src="src/js/detail/detailall.js"></script>-->
<!--<script src="build/js/detailall.js"></script>-->
</body>
</html>
