<!DOCTYPE html>
<html>
<head>
    <title>微淘pc</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link href="src/css/detailall.css" rel="stylesheet" type="text/css">


</head>

<body style="background: #f8f8f8">
<div id="content">
    <div class="tb-h5">
        <div id="detailPage" class="view-page detail">
            <div class="account"></div>
            <div class="main"></div>
        </div>
    </div>
</div>
<script id="detail_accinfo_tpl" type="text/template">
    <a snsid="<%= snsId %>" class="brand log" data-log="detailAccount">
        <div class="default">
            <% if(typeof logoUrl!='undefined'&&logoUrl!==''){ %>
            <img class="avatar" src="<%=getImgUrl(logoUrl,100,60)%>"/>
            <% } %>
        </div>
        <div class="info">
            <p class="name"><%= nick %></p>
            <% if(noHelper(accountType)){ %>
            <p class="follow" snsid="<%=snsId%>">
                <% if (fansCount == 0) { %>
                还没有人关注
                <% } else { %>
                <span class="count"><%= formatFans(fansCount) %></span> 关注者
                <% } %>
            </p>
            <% } %>
        </div>
    </a>


</script>
<script id="detail_content_tpl" type="text/template">
    <h1><%= title %> </h1>
    <div class="favbtn <% if(isLiked =='1'){%> faved <% } %> log" data-log="<% if(isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
    <% if (time) { %>
    <p class="detail-info">
        <span class="icon-clock pub-time"><%= timestamps(time) %></span>
        <% if(parseInt(commentCount)>0){ %>
        <span class="icon-comment cmt-count"><%= commentCount %></span>
        <% } %>
    </p>
    <% } %>
    <% for (var i = 0; i < tiles.length; i++) { %>
    <% if (tiles[i].type == "pic") { %>
    <div class="media"><img class="lazy"
        <%if(Env.isDesktop){%>
        dataimg="<%=getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
        <% }else{%>
        dataimg="<%=getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
        style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
        <% } %>

        src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
    </div>
    <% } else if (tiles[i].type == "text") { %>

    <p class="text"><%= tiles[i].text.replace(/(\n)+/g, '<span style="height:5px;display:block"></span>') %></p>

    <% } else if (tiles[i].type == "picItem") { %>
    <div class="media">
        <a style="display: block" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item"
           data-id="<%= tiles[i].item.id %>">
            <img class="lazy"
            <%if(Env.isDesktop){%>
            dataimg="<%= getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
            <% }else{ %>
            dataimg="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
            style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
            <% } %>
            src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">

            <div class="price" style="display: none;"></div>
        </a>
    </div>
    <% } %>
    <% } %>

    <% if (linkUrl) { %>
    <a href="<%= linkUrl %>" class="more-content log" data-log="linkUrl">
        <span class="link-icon"></span>
        <span class="link-title"><%= linkTitle || '更多内容' %></span></a>
    <% } %>
</script>
<script src="src/js/libs/zepto.min.js"></script>
<script src="src/js/libs/underscore-min.js"></script>
<script src="src/js/libs/backbone-min.js"></script>
<script src="src/js/mtop/namespace.js"></script>
<script src="src/js/mtop/config.js"></script>
<script src="src/js/mtop/cookie.js"></script>
<script src="src/js/mtop/md5.js"></script>
<script src="src/js/mtop/parameter.js"></script>
<script src="src/js/mtop/uri.js"></script>
<script src="src/js/mtop/mtop.js"></script>
<script src="src/js/libs/lazyload.js"></script>
<script src="src/js/detail/detailall.js"></script>
</body>
</html>